extends ../layout.pug

block variables
    - title= 'blog';
    - wrapper_modif= 'wrapper--blog';
    - isPage =true;
    - pagesListActiveItem = 2;

block doctype
    <!DOCTYPE html>
    html(lang="en")
        head
            meta(charset="UTF-8")
            meta(name="viewport", content="width=device-width, initial-scale=1.0")
            meta(http-equiv="X-UA-Compatible", content="ie=edge")   
            //- тут нужно задать title для страницы
            title #{title}
            <!--[if gte IE 8]>
                <link rel="stylesheet" type="text/css" href="ie8-and-up.css" />
            <![endif]-->
        
        

        body

block main 
    main(class='main main--articles')
        .container.main__container.main__container--articles
            aside(class="articles-nav articles-nav--blog")
                a.articles-nav__swipe(href="#")
                    +svgTemp('articles-nav__swipe-svg', 'swipe_svg')
                //- - 
                //-     var 
                //-     articles_themes = [
                //-         'Самое важное в SASS',
                //-         'Приёмы в вёрстке, без которых не обходится ни один сайт',
                //-         'Самый необходимый набор Gulp плагинов',
                //-         'Почему я выбрал Jade'
                //-         ];
                ul(class="articles-nav__list articles-nav__list--swipe-on")    
                    each article,index in articles
                        li(class="articles-nav__item" data-scroll-to=index).
                            #{article.title}
                            
                            
                        
            ul.article-list
                if (articles)
                    each article in articles
                        li(class="article-list__item")
                            .article-list__item-title.
                                #{article.title}
                            .article-list__item-date.
                                #{article.date}
                            .article-list__item-text.
                                #{article.body}
                            .article-list__item-code 